 {% assign sortedpieces = site.pages | sort: 'name' %} 

<div class="classs">
	<div class="row"><div class="classs_title list_title">Classes</div></div>
		
	{% for piece in sortedpieces %} 
	
	{% if piece.hidden==false and piece.type_class and include.page.topicid == piece.topicid %}
	<div class="row piece-row">
		<div class="col-md-12 card box-shadow piece-teaser">
			{% if piece.thumbnail %}
			<div class="thumbnail">
				<img src="{{ base }}/{{ piece.thumbnail }}">
			</div>
			{% endif %}
			<div class="card-header">
				<h3 class="mb-0">
					<a class="piece-link" href="{{ base }}{{ piece.url }}"> {{ piece.title }}
					</a>
				</h3>
				<div class="meta">{{ piece.date | date: "%B %-d, %Y" }}</div>
			</div>
			<div class="piece-teaser-block">
				<div class="row">
					<div class="excerpt col-md-6">
						{{ piece.excerpt }}
						<!--{{ piece.content | strip_html | truncate: "250" }}-->
						<!--<a class="button" href="{{ piece.url }}">
		              {{ site.theme_settings.str_continue_reading }}
		            </a>-->
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>

