	{% include base.html %}

 {% assign sortedcourses = site.pages | sort: 'order' %} 

<div class="row mb-2 courses">
	{% for course in sortedcourses %} {% if course.hidden==false and course.type_course %}
	<div class="col-md-12 course row">

		<div class="card box-shadow h-md-250 course-teaser">
			<div class="row col-md-12">
				{% if course.thumbnail %}
					<div class="col-md-4">
						<img src="{{ base }}{{ course.thumbnail }}">
					</div>
				{% endif %}

				<div class="col-md-8">
					<header class="mb-2">
						<a class="course-link" href="{{ base }}{{ course.url }}"> {{
							course.title }} </a>
					</header>
					<div class="meta">{{ course.date | date: "%B %-d, %Y" }}</div>

					<div class="excerpt">
						{{ course.excerpt }}
						<!--{{ course.content | strip_html | truncate: "250" }}-->
						<!--<a class="button" href="{{ course.url }}">
	              {{ site.theme_settings.str_continue_reading }}
	            </a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
