	{% include base.html %}
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
 
    <!-- COURSES CSS -->
    <link rel="stylesheet" href="{{ base }}/assets/css/courses.css">
 
    <!--Favicon-->
    <link rel="shortcut icon" href="{{ base }}/{{ site.theme_settings.favicon }}" type="image/x-icon">

    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{ page.redirect_url }}"> 
    {% endif %}

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>

    <link rel="stylesheet" type="text/css" href="{{ base }}/assets/bundled/dist.css">
       
    {% if page.use_gallery %}
    {% endif %}

    {% seo %}
