	<!-- post nav -->

	<!-- header image -->
	<style>
	.site-header{% if page.slim_header %}-slim{% endif %} {
	  background-image: url('{{ base }}{{ page.header_image }}');
	}
    .jumbotron {
      background-image: url('{{ base }}{{ page.header_image }}');
    }
	</style>
	
	<!-- header -->
	{% if page.postnav_title %}
	<!-- Header with Background Image -->
	<div class="jumbotron">
	  <div class="container">
	    <div class="row align-items-center">
	      <div class="col-lg-12">
	        <h1 class="display-3 text-center ">{{ page.postnav_title }}</h1>
	        <h2 class="display-3 text-center ">{{ page.postnav_subtitle }}</h2>
	        <div class="text-center display-3"><a class="btn btn-info" href="{{ base }}/{{ page.postnav_link }}">{{ page.postnav_linktext }}</a></div>
	      </div>
	    </div>
	  </div>
    </div>
	{% endif %}
<<<<<<< HEAD
	<!-- post nav ends -->
=======

   {% include worldwithoutmoney.html %}
   {% include fivetransitions.html %}          
	
>>>>>>> branch 'master' of git@gitlab.com:tzmcommunity/chapter-site-template.git
