@media (min-width: 176px) {
	.course-teaser img {
		display: none;
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.course-teaser img {
		display: inline;
		width: 200px;
		height: 200px;
		margin-top: 0px;
	}
}

@media (min-width: 992px) {
	.course-teaser img {
		display: inline;
		width: 250px;
		height: 250px;
		margin-top: 0px;
	}
}

@media (min-width: 1200px) {
	.course-teaser img {
		width: 300px;
		height: 300px;
		margin-left: 30px;
	}
}

.header {
	margin-bottom: 20px;
}

.course {
	margin-top: 30px;
}

.course header {
	font-size: 200%;
}

.list_title {
	font-size: 200%;	
	background-color: #f0f0f0;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

.piece-teaser {
	padding: 0px;
}

.piece-row {
	margin-bottom: 30px;
}

.piece-teaser .meta {
	font-size: 80%;
}

.topic-back-link {
	margin-top: -10px;
	margin-bottom: 5px;
}

.piece-link {
	color: #343a40 !important;
}

.piece-teaser-block {
	padding: 20px;
}

.classes-list-in-course h4 {
	font-size: 120%;
}

.embed-responsive {
	position: relative;
	display: block;
	padding: 0;
	overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe,
	.embed-responsive embed, .embed-responsive object, .embed-responsive video
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
	padding-bottom: 75%;
}

