--- 
layout: default 

---

<div class="row">
	<div class="col-md-12 site-header-slim header" {% if
		page.header_image %}
				style="background-image: url('{{site.baseurl}}/{{ page.header_image }}')"
		{% else %}
				style="background-image: url('{{site.baseurl}}/assets/img/blue-skies-green-fields-hd-wallpaper.jpg')";
			{% endif %}>

		{% for topic in site.pages %} {% if topic.type_topic and
		page.topicid == topic.topicid %}
		<div class="topic-back-link">
			Part of topic <a href="{{ topic.url }}">{{ topic.title }}</a>
		</div>
		{% endif %} {% endfor %}

		<h1 id="{{ page.title | default: "
			" | cgi_escape }}" class="title text-center">{{ page.title }}</h1>

		{% if page.subtitle %}
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}
	</div>
</div>

<div class="row">
	<section class="post-content">
 	{{ content }} 
	</section>
</div>

<div class="row">
	<div
		class="col-md-12 class-video embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" width="640" height="390"
			src="{{ page.video }}" frameborder="0"
			allow="autoplay; encrypted-media" allowFullScreen></iframe>
		<div class="bootstrap-iso">content {{ content }}</div>
	</div>
</div>
