--- 
layout: default 

---

<div class="row">
	<div class="col-md-12 site-header-slim header"
			{% if page.header_image %}
				style="background-image: url('{{ base }}/{{ page.header_image }}')" 
			{% else %}
				style="background-image: url('{{ base }}/assets/img/blue-skies-green-fields-hd-wallpaper.jpg')";
			{% endif %}>
			
			<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title text-center">
				{{ page.title }}</h1>
	
			{% if page.subtitle %}
			<h2 class="subtitle">{{ page.subtitle }}</h2>
			{% endif %}
	</div>
</div>

<div class="row">
	<section class="post-content">
 	{{ content }} 
	</section>
</div>

{% if page.show_topics %}
{% assign sortedpieces = site.pages | sort: 'topic_order' %} 

<div class="mb-0 topics">
	<div class="row"><div class="topics_title list_title">Topics</div></div>
	{% for piece in sortedpieces %} {% if piece.hidden==false and
	piece.type_topic and page.courseid == piece.courseid %}
	<div class="row piece-row">
		<div class="col-md-12 card box-shadow piece-teaser">
			{% if piece.thumbnail %}
			<div class="thumbnail">
				<img src="{{ base }}/{{ piece.thumbnail }}">
			</div>
			{% endif %}
			<div class="card-header">
				<h3 class="mb-0">
					<a class="piece-link" href="{{ base }}{{ piece.url }}"> {{ piece.title }}
					</a>
				</h3>
				<div class="meta">{{ piece.date | date: "%B %-d, %Y" }}</div>
			</div>
			<div class="piece-teaser-block">
				<div class="row">
					<div class="excerpt col-md-6">
						{{ piece.excerpt }}
						<!--{{ piece.content | strip_html | truncate: "250" }}-->
						<!--<a class="button" href="{{ piece.url }}">
		              {{ site.theme_settings.str_continue_reading }}
		            </a>-->
					</div>
					<div class="col-md-6 classes-list-in-course">
						<div class="row">
							<h4 class="classes-list-title">Classes</h4>
						</div>
						{% for pclass in site.pages %} 
						{% if pclass.hidden==false and pclass.type_class and piece.topicid == pclass.topicid %}
						<div class="row">
							<a href="{{ base }}{{ pclass.url }}">{{ pclass.title }}</a>
						</div>
						{% endif %} {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
{% endif %}

{% if page.show_classes %}
{% include classes.html page=page %}
{% endif %}
