---
layout: default
---
  {% include base.html %}

  {% if site.sidepanel %}
  <div class="row">
      <div class="col-lg-8">
		  <!-- CONTENT -->
		  {% include home_content.html %}
      </div>
        
	  <!-- SIDEPANEL -->
	  <div class="col-lg-4 sidepanel-col">
        {% include sidepanel_content.html %}
      </div>
      <!-- SIDEPANEL CLOSING -->
  </div> 
  {% else %}

      <!-- CONTENT -->
      {% include home_content.html %}
  
  {% endif %}
  <!-- END OF POSTS -->

  <!-- END OF COURSES -->
  <div class="home-courses">
	  {% if site.show_courses_on_homepage %}
	  {% include courses.html %}
	  {% endif %}
	  </div>
  <!-- END OF COURSES -->
  
  {% if site.sidepanel %}
  </div>
  <!-- SIDEPANEL CLOSING -->
  {% endif %}
