--- 
layout: default 

---

<div class="row">
	<div class="col-md-12 site-header-slim header"
			{% if page.header_image %}
				style="background-image: url('{{site.baseurl}}/{{ page.header_image }}')" 
			{% else %}
				style="background-image: url('{{site.baseurl}}/assets/img/blue-skies-green-fields-hd-wallpaper.jpg')";
			{% endif %}>
	
			{% for course in site.pages %} 
				{% if course.type_course and page.courseid == course.courseid %}
					<div class="topic-back-link">Part of course <a href="{{ course.url }}">{{ course.title }}</a></div>
				{% endif %}
			{% endfor %}
			
			<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title text-center">
				{{ page.title }}</h1>
	
			{% if page.subtitle %}
			<h2 class="subtitle">{{ page.subtitle }}</h2>
			{% endif %}
	</div>
</div>

<div class="row">
	<section class="post-content">
 	{{ content }} 
	</section>
</div>

{% include classes.html page=page %}
